<launch>

 <node name="map_server" pkg="map_server" type="map_server" args="$(find jackal-custom)/config/navigation/maps/map1.yaml">
    <param name="frame_id" value="odom" />
 </node>

 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <rosparam file="$(find jackal-custom)/config/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jackal-custom)/config/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find jackal-custom)/config/navigation/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jackal-custom)/config/navigation/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find jackal-custom)/config/navigation/base_local_planner_params.yaml" command="load" />
    
    
    <remap from="odom" to="EKF/odometry/filtered" />
    <!--remap from="odom" to="EKF/odometry/filtered" /-->
     
 </node>
 

 

</launch>
