<launch>

  <!-- ###### TRUE MEASUREMENTS ######-->
  <group ns="Meas">
    <!-- True Distance measurement node  T0-->
    <node name="MeshTrueT0" pkg="jackal_op" type="jack_disttrue" args="Meas/MeshTrueT0 0">
      <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disttrue.yaml"/>
    </node>

    <!-- True Distance measurement node  T1-->
    <node name="MeshTrueT1" pkg="jackal_op" type="jack_disttrue" args="Meas/MeshTrueT1 1">
      <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disttrue.yaml"/>
    </node>

    <!-- True Distance measurement node  T2-->
    <node name="MeshTrueT2" pkg="jackal_op" type="jack_disttrue" args="Meas/MeshTrueT2 2">
      <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disttrue.yaml"/>
    </node>

  </group>

  <!-- ###### TRILATERATION  - CENTRALIZED ######-->
  <node name="DT5" pkg="jackal_op" type="jack_disthandle_centralized" args="5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disthandle_centralized.yaml"/>
  </node>

  <!-- ###### HYBRID OBSERVER  - CENTRALIZED ######-->
  <node name="HYB5" pkg="jackal_op" type="jack_hybobs_centralized" args="HYB5 5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_hybobs_centralized.yaml"/>
  </node>


</launch>