<launch>

  <!-- ###### REAL MEASUREMENTS ######-->
  <group ns="Meas">
    <!-- UWB Distance measurement node  T0 -->
    <node name="UWB_read_T0" pkg="UWB_driver" type="UWB_read.py" args="UWB_read_T0 0">
        <rosparam command="load" file="$(find UWB_driver)/config/UWB_driver_read_T0.yaml"/>
    </node>

    <!-- UWB Distance measurement node  T0 -->
    <node name="UWB_read_T1" pkg="UWB_driver" type="UWB_read.py" args="UWB_read_T1 1">
        <rosparam command="load" file="$(find UWB_driver)/config/UWB_driver_read_T1.yaml"/>
    </node>

    <!-- UWB Distance measurement node  T0 -->
    <node name="UWB_read_T2" pkg="UWB_driver" type="UWB_read.py" args="UWB_read_T2 2">
        <rosparam command="load" file="$(find UWB_driver)/config/UWB_driver_read_T2.yaml"/>
    </node>

  </group>

  
  <!-- ###### TRILATERATION  - CENTRALIZED ######-->
  <node name="DT5" pkg="jackal_op" type="jack_disthandle_centralized" args="5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disthandle_centralized.yaml"/>
  </node>

  <!-- ###### HYBRID OBSERVER  - CENTRALIZED ######-->
  <node name="HYB5" pkg="jackal_op" type="jack_hybobs_centralized" args="HYB5 5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_hybobs_centralized.yaml"/>
  </node>


</launch>