<launch>

  <arg name="joystick" default="true" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <!-- Teleop node  -->
  <include file="$(find jackal-custom)/launch/control/teleop.launch">
    <arg name="joystick" value="$(arg joystick)" />
    <arg name="joy_dev" value="$(arg joy_dev)" />
  </include>

  <!-- ###### TRILATERATION  - CENTRALIZED ######-->
  <node name="DT5" pkg="jackal_op" type="jack_disthandle_centralized" args="5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disthandle_centralized.yaml"/>
  </node>

  <!-- ###### HYBRID OBSERVER  - CENTRALIZED ######-->
  <node name="HYB5" pkg="jackal_op" type="jack_hybobs_centralized" args="HYB5 5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_hybobs_centralized.yaml"/>
  </node>

  <!-- Rviz -->
  <include file="$(find jackal-custom)/launch/descriptions/view_robot_real.launch">
  </include>

  <!-- Run Websocket. -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
      <arg name="port" value="9090"/>
  </include>

  <!-- Tf2 publisher -->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher">
  </node>

  <!-- ###### GROUND TRUTH ######-->
  <node name="vicon" pkg="vicon" type="jack_vicon">
  </node>

  <!-- ROS bag-->
  <node pkg="rosbag" type="record" name="rosbag_record"
    args="record -o /home/ros/workspace/results/bags/rosbag.bag /DT /ground_truth/state /odometry/filtered"> 
  </node>


</launch>