<launch>

  <arg name="joystick" default="true" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <!-- Rviz -->
  <include file="$(find jackal-custom)/launch/descriptions/view_robot_real.launch">
  </include>

  <!-- Run Websocket. -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
      <arg name="port" value="9090"/>
  </include>

  <!-- Tf2 publisher -->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher">
  </node>

  <!-- ###### GROUND TRUTH ######-->
  <node name="vicon" pkg="vicon" type="jack_vicon">
  </node>

  <!-- ROS bag - no vicon -->
  <!--node pkg="rosbag" type="record" name="rosbag_record"
    args="record -o /home/ros/workspace/results/bags/rosbag.bag /DT5/DT /odometry/filtered /imu/data /DT5/gradientOdom /HYB5/Odom /HYB5/IMU /HYB5/Bias"> 
  </node-->

  <!-- ROS bag - yes vicon -->
  <node pkg="rosbag" type="record" name="rosbag_record"
    args="record -o /home/ros/workspace/results/bags/rosbag.bag /DT5/DT /ground_truth/state /odometry/filtered /imu/data /DT5/gradientOdom /HYB5/Odom /HYB5/IMU /HYB5/Bias"> 
  </node>


</launch>