<launch>

  <param name="use_sim_time" value="false" />
  
  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="base" />
   
  <!-- Load Jackal's description, controllers, and teleop nodes. -->
  <include file="$(find jackal-custom)/launch/descriptions/description_real.launch">
    <arg name="config" value="$(arg config)" />
  </include>

  <!-- Run default base jackal HW -->
  <include file="$(find jackal-custom)/launch/descriptions/base.launch">
  </include>

  <!-- Run accessories jackal HW -->
  <!--include file="$(find jackal-custom)/launch/descriptions/accessories.launch">
  </include-->

  <!-- Teleop node  -->
  <include file="$(find jackal-custom)/launch/control/teleop.launch">
    <arg name="joystick" value="$(arg joystick)" />
    <arg name="joy_dev" value="$(arg joy_dev)" />
  </include>

  <!-- ###### TRILATERATION  - CENTRALIZED ######-->
  <node name="DT5" pkg="jackal_op" type="jack_disthandle_centralized" args="5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disthandle_centralized.yaml"/>
  </node>

  <!-- ###### HYBRID OBSERVER  - CENTRALIZED ######-->
  <node name="HYB5" pkg="jackal_op" type="jack_hybobs_centralized" args="HYB5 5">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_hybobs_centralized.yaml"/>
  </node>
  
  <!-- Control node  -->
  <include file="$(find jackal-custom)/launch/control/control_real.launch">
    <arg name="enable_ekf" value="true" />
  </include>

  <!-- Start navigation -->
  <!--include file="$(find jackal-custom)/launch/control/Navigation.launch">
  </include-->


  <!-- ###### REAL MEASUREMENTS ######-->
  <!-- UWB Distance measurement node  T0 -->
  <node name="UWB_read_T0" pkg="UWB_driver" type="UWB_read.py" args="UWB_read_T0 0">
      <rosparam command="load" file="$(find UWB_driver)/config/UWB_driver_read_T0.yaml"/>
  </node>

  <!-- UWB Distance measurement node  T0 -->
  <node name="UWB_read_T1" pkg="UWB_driver" type="UWB_read.py" args="UWB_read_T1 1">
      <rosparam command="load" file="$(find UWB_driver)/config/UWB_driver_read_T1.yaml"/>
  </node>

  <!-- UWB Distance measurement node  T0 -->
  <node name="UWB_read_T2" pkg="UWB_driver" type="UWB_read.py" args="UWB_read_T2 2">
      <rosparam command="load" file="$(find UWB_driver)/config/UWB_driver_read_T2.yaml"/>
  </node>

  <!-- Microstrain IMU measurements -->
  <!--include file="$(find jackal-custom)/launch/sensors/imu.launch">
    <arg name="imu" value="imu_link" />
    <remap from="$(arg imu)/imu" to="/imu/data" />
  </include-->

</launch>
