<launch>

  <!-- True Distance measurement node  -->
  <node name="MeshTrue" pkg="jackal_op" type="jack_disttrue" args="MeshTrue 0">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disttrue.yaml"/>
  </node>

  <!-- T0 (rear) Distance handler node -->
  <node name="DT0" pkg="jackal_op" type="jack_disthandle" args="0">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disthandle_T0.yaml"/>
  </node>

  <!-- T0 (rear) HybObs node -->
  <node name="HYB0" pkg="jackal_op" type="jack_hybobs" args="HYB0 0">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_hybobs_T0.yaml"/>
  </node>


</launch>