<launch>
  <arg name="ns" default="" />

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1" />
  <arg name="yaw" default="0" />
  <arg name="joystick" default="true" />
  <arg name="joy_dev" default="/dev/input/ps4" />

  <arg name="right_id" default="0" />
  <arg name="left_id" default="1" />
  <arg name="rear_id" default="2" />

  <arg name="robot_name" default="jackal"/>

  <!-- params and args for jackal_op -->
  <arg name="topicroot" default="" />
  <arg name="ID" default="" />
  <arg name="SubT" default="/gtec/toa/ranging" />   
  
  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="base" />

  <group ns="$(arg ns)"> 

    <!-- Load Jackal's description, controllers, and teleop nodes. -->
    <include file="$(find jackal-custom)/launch/descriptions/description.launch">
      <arg name="config" value="$(arg config)" />
      <arg name="right_id" value="$(arg right_id)" />
      <arg name="left_id" value="$(arg left_id)" />
      <arg name="rear_id" value="$(arg rear_id)" />
    </include>

    <!-- Control node  -->
    <include file="$(find jackal-custom)/launch/control/control.launch">
      <arg name="enable_ekf" value="false" />
    </include>

    <!-- Teleop node  -->
    <include file="$(find jackal-custom)/launch/control/teleop.launch">
      <arg name="joystick" value="$(arg joystick)" />
      <arg name="joy_dev" value="$(arg joy_dev)" />
    </include>

    <!-- Spawn Jackal -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
                args="-urdf -model jackal -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />

    <!-- world/odom -->
    <node pkg="tf" type="static_transform_publisher" name="world_odom" args="0 0 0 0 0 0 /world /odom  1000"/>
    <!--node pkg="tf" type="static_transform_publisher" name="odom_world" args="0 0 0 0 0 0 /odom  /world 1000"/-->

    <!-- odom/base_link -->
    <node pkg="tf" type="static_transform_publisher" name="odom_base_link" args="0 0 0 0 0 0 /odom /base_link 1000"/>
    <!--node pkg="tf" type="static_transform_publisher" name="base_link_odom" args="0 0 0 0 0 0 /base_link /odom 1000"/-->

    <!-- base_link/tagrear -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_tagrear" args="-0.2155 0 0.184 -0.78 0 -1.57 /base_link /tagrear 1000"/>
    <!--node pkg="tf" type="static_transform_publisher" name="tagrear_base_link" args="0.2155 0 0.184 0.78 0 1.57 /tagrear /base_link 1000"/-->

  </group>

  <!-- True Distance measurement node  -->
  <node name="MeshTrue" pkg="jackal_op" type="jack_disttrue" args="MeshTrue">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disttrue.yaml"/>
  </node>

  <!-- True Distance handler node -->
  <!--node name="DT7" pkg="jackal_op" type="jack_disthandle" args="7">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disthandle_T7.yaml"/>
  </node-->

  <!-- T0 (rear) Distance handler node -->
  <!--node name="DT0" pkg="jackal_op" type="jack_disthandle" args="0">
    <rosparam command="load" file="$(find jackal_op)/config/jackal_op_disthandle_T0.yaml"/>
  </node-->

</launch>