<launch>
  <arg name="ns" default="" />

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="yaw" default="0" />

  <arg name="robot_name" default="jackal"/>
  <arg name="PI" default="3.1415926535897931"/>

  <arg name="wheelbase" value="0.262" />
  <arg name="wheel_vertical_offset" value="0.0345" />
  <arg name="wheel_radius" value="0.098" />
  <arg name="wheel_width" value="0.040" />
  <arg name="track" value="0.37559" />

  <group ns="frames"> 

    <!-- TF -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_baseLink" args="0 0 0 0 0 0 world base_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="baseLink_chassisLink" args="0 0 0 0 0 0 base_link chassis_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="baseLink_imuLink" args="0 0 0 0 0 0 base_link imu_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="baseLink_rearTag" args=" -0.5 0 0.184 0 0 0 base_link rear_tag"/>

    <!--
    <param name="FWx" value="$(eval 0.5*arg('wheelbase'))"/>
    <param name="FWy" value="$(eval 0.5*arg('track'))"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="chassisLink_FrontLeftWheelLink" 
        args="FWx FWx $(arg wheel_vertical_offset) 
        0 0 0 chassis_link front_left_wheel"/>

    <param name="FRx" value="$(eval 0.5*arg('wheelbase'))"/>
    <param name="FRy" value="$(eval -0.5*arg('track'))"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="chassisLink_FrontRightWheelLink" 
        args="FWx FWx $(arg wheel_vertical_offset) 
        0 0 0 chassis_link front_right_wheel"/>
    -->
  </group>

  <group ns="RVIZ">

    <arg name="model" default="$(find jackal-custom)/urdf/jackal_custom/custom_jackal.urdf.xacro"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  </group>

</launch>