<launch>

  <!-- group name -->
  <arg name="ns" default="jackal" />

  <!-- simulation setup -->
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />

  <!-- Spawn Jackal -->
  <include file="$(find jackal-custom)/launch/spawners/spawn_jackal_RVIZ.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="1" />
    <arg name="yaw" value="0" />
    
    <arg name="robot_name"  value="$(arg ns)" />
    <arg name="ns" value="$(arg ns)" />
  </include>
</launch>