<launch>
  <arg name="config" default="base" />
  <arg name="rear_id" default="0" />
  <arg name="right_id" default="1" />
  <arg name="left_id" default="2" />

  <arg name="env_runner" value="$(eval 'env_run' if not optenv('OS', 'unknown').lower().startswith('windows') else 'env_run.bat')" />

  <param name="robot_description"
         command="$(find jackal_description)/scripts/$(arg env_runner)
                    $(find jackal-custom)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find jackal-custom)/urdf/custom_jackal_real.urdf.xacro 
                    rear_id:=$(arg rear_id) right_id:=$(arg right_id) left_id:=$(arg left_id) --inorder" />
                    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="10"/>
    <param name="use_tf_static" value="false"/>
  </node>
</launch>